body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

main {
  width: 100%;
}

::selection {
  background-color: var(--color-purple);
  color: var(--color-white);
}